.friendsTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friendRow {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    padding: 12px 20px;
    align-items: center;
    transition: background-color 0.3s ease;
}

.friendRow:not(.header):hover {
    background-color: #f9f9f9;
}

.header {
    color: white;
    background-color: #324F7F;
    font-weight: bold;
}
.username {
    transition: text-decoration 0.2s ease;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}
.centerGridInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heartIcon {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.heartIcon:hover {
    transform: scale(1.2);
}
@media (max-width: 650px) {
    .friendRow{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 550px) {
    .friendRow{
        grid-template-columns: repeat(2,1fr);
    }
    .ratingInfo{
        display: none;
    }
}